@model Tuple<IEnumerable<int>,SocialMedia.Models.User>

@{

    var userPostIds = Model.Item1;
    var user = Model.Item2;
    ViewData["Title"] = $"{user.FullName}";
    var likeUrl = Url.Action("Like", "PostLikes");
    var dislikeUrl = Url.Action("Dislike", "PostLikes");
    var followUrl = Url.Action("Follow", "Users");
    var unfollowUrl = Url.Action("Unfollow", "Users");

}

@using Microsoft.AspNetCore.Identity
@using SocialMedia.Models.ViewModels
@inject UserManager<User> UserManager

<div class="container">
    <div class="text-center mb-4">
        <div class="d-flex align-items-center profile-ribbon" style="background-color: rgb(33, 66, 95); padding: 10px; border-radius: 5px;">
            <div class="profile-photo">
                @if (user.Id == UserManager.GetUserId(User))
                {
                    <form method="post" enctype="multipart/form-data" action="/Users/ChangeProfilePicture">
                        <label for="profilePictureInput" style="cursor: pointer;">
                            @if (user.ProfilePicture != null)
                            {
                                <img src="data:@user.ProfilePicture.ContentType;base64,@Convert.ToBase64String(user.ProfilePicture.Data)" class="rounded-circle" width="100" height="100" alt="@user.FullName" />
                            }
                            else
                            {
                                <img src="/assets/images/default.png" class="rounded-circle" width="100" height="100" alt="Default Profile Picture" />
                            }
                        </label>
                        <input type="file" id="profilePictureInput" name="profilePicture" style="display: none;" onchange="this.form.submit();" />
                        <input name="__RequestVerificationToken" type="hidden" value='@Html.AntiForgeryToken()' />
                    </form>
                }
                else
                {
                    @if (user.ProfilePicture != null)
                    {
                        <img src="data:@user.ProfilePicture.ContentType;base64,@Convert.ToBase64String(user.ProfilePicture.Data)" class="rounded-circle" width="100" height="100" alt="@user.FullName" />
                    }
                    else
                    {
                        <img src="/assets/images/default.png" class="rounded-circle" width="100" height="100" alt="Default Profile Picture" />
                    }
                }
            </div>


            <div class="ms-3" style="color: white;">
                <h2>@user.FullName</h2>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <a class="btn btn-primary" asp-controller="Posts" asp-action="Create">Create New Post</a>
    </div>

    <div class="mb-3">
        @if (user.Id != @UserManager.GetUserId(User))
        {
            if (user.Followers.Any(f => f.UserId == @UserManager.GetUserId(User)))
            {
                <button type="button" class="btn btn-danger" data-user-id="@user.Id" onclick="unfollowUser('@user.Id', '@unfollowUrl')">Unfollow</button>
            }
            else
            {
                <button type="button" class="btn btn-success" data-user-id="@user.Id" onclick="followUser('@user.Id', '@followUrl')">Follow</button>
            }
        }
    </div>

    <div class="mb-3">
        <a class="btn btn-info" asp-controller="Users" asp-action="Followers" asp-route-id="@user.Id">
            Followers (<span id="followers-count">@user.Followers.Count</span>)
        </a>
    </div>

    <!--Container for loading posts-->
    <div id="posts-container">
        <div id="loading" style="display: none;">Loading...</div>
    </div>
</div>

@section Scripts {
    <script src="~/js/PostLikeDislike.js"></script>
    <script src="~/js/UserInterraction.js"></script>
    <script src="~/js/PostLoader.js"></script>
    <script>
        const postIds = @Html.Raw(Json.Serialize(userPostIds));
        console.log(postIds);
    </script>
}
